.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* todo: should this be here? */
#root {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* height: 93vh; */
  margin-top: 45px;
}
