.instrumentSelectorContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.instrumentSelectorForm {
  display: flex;
  flex-direction: column;
}

.instrumentSelectorCheckboxRow {
  display: flex;
  justify-content: space-between;
}

.instrumentSelectorSubmit {
  margin-top: 11px;
}
